@font-face {font-family: "proxyicons";
  src: url('proxyicons.eot?t=1716972766910'); /* IE9*/
  src: url('proxyicons.eot?t=1716972766910#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("proxyicons.woff2?t=1716972766910") format("woff2"),
  url("proxyicons.woff?t=1716972766910") format("woff"),
  url('proxyicons.ttf?t=1716972766910') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('proxyicons.svg?t=1716972766910#proxyicons') format('svg'); /* iOS 4.1- */
}

[class^="proxyicons-"], [class*=" proxyicons-"] {
  font-family: 'proxyicons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.proxyicons-account-box-fill:before { content: "\ea01"; }
.proxyicons-account-box-line:before { content: "\ea02"; }
.proxyicons-account-circle-fill:before { content: "\ea03"; }
.proxyicons-account-circle-line:before { content: "\ea04"; }
.proxyicons-account-pin-box-fill:before { content: "\ea05"; }
.proxyicons-account-pin-box-line:before { content: "\ea06"; }
.proxyicons-account-pin-circle-fill:before { content: "\ea07"; }
.proxyicons-account-pin-circle-line:before { content: "\ea08"; }
.proxyicons-add-box-fill:before { content: "\ea09"; }
.proxyicons-add-box-line:before { content: "\ea0a"; }
.proxyicons-add-circle-fill:before { content: "\ea0b"; }
.proxyicons-add-circle-line:before { content: "\ea0c"; }
.proxyicons-add-fill:before { content: "\ea0d"; }
.proxyicons-add-line:before { content: "\ea0e"; }
.proxyicons-admin-fill:before { content: "\ea0f"; }
.proxyicons-admin-line:before { content: "\ea10"; }
.proxyicons-alert-fill:before { content: "\ea11"; }
.proxyicons-alert-line:before { content: "\ea12"; }
.proxyicons-aliens-fill:before { content: "\ea13"; }
.proxyicons-aliens-line:before { content: "\ea14"; }
.proxyicons-apps-fill:before { content: "\ea15"; }
.proxyicons-apps-line:before { content: "\ea16"; }
.proxyicons-arrow-down-circle-fill:before { content: "\ea17"; }
.proxyicons-arrow-down-circle-line:before { content: "\ea18"; }
.proxyicons-arrow-down-double-fill:before { content: "\ea19"; }
.proxyicons-arrow-down-double-line:before { content: "\ea1a"; }
.proxyicons-arrow-down-fill:before { content: "\ea1b"; }
.proxyicons-arrow-down-line:before { content: "\ea1c"; }
.proxyicons-arrow-down-sm-fill:before { content: "\ea1d"; }
.proxyicons-arrow-down-sm-line:before { content: "\ea1e"; }
.proxyicons-arrow-go-back-fill:before { content: "\ea1f"; }
.proxyicons-arrow-go-back-line:before { content: "\ea20"; }
.proxyicons-arrow-go-forward-fill:before { content: "\ea21"; }
.proxyicons-arrow-go-forward-line:before { content: "\ea22"; }
.proxyicons-arrow-left-circle-fill:before { content: "\ea23"; }
.proxyicons-arrow-left-circle-line:before { content: "\ea24"; }
.proxyicons-arrow-left-double-fill:before { content: "\ea25"; }
.proxyicons-arrow-left-double-line:before { content: "\ea26"; }
.proxyicons-arrow-left-down-fill:before { content: "\ea27"; }
.proxyicons-arrow-left-down-line:before { content: "\ea28"; }
.proxyicons-arrow-left-down-sm-fill:before { content: "\ea29"; }
.proxyicons-arrow-left-down-sm-line:before { content: "\ea2a"; }
.proxyicons-arrow-left-fill:before { content: "\ea2b"; }
.proxyicons-arrow-left-line:before { content: "\ea2c"; }
.proxyicons-arrow-left-right-fill:before { content: "\ea2d"; }
.proxyicons-arrow-left-right-line:before { content: "\ea2e"; }
.proxyicons-arrow-left-sm-fill:before { content: "\ea2f"; }
.proxyicons-arrow-left-sm-line:before { content: "\ea30"; }
.proxyicons-arrow-left-up-fill:before { content: "\ea31"; }
.proxyicons-arrow-left-up-line:before { content: "\ea32"; }
.proxyicons-arrow-left-up-sm-fill:before { content: "\ea33"; }
.proxyicons-arrow-left-up-sm-line:before { content: "\ea34"; }
.proxyicons-arrow-right-circle-fill:before { content: "\ea35"; }
.proxyicons-arrow-right-circle-line:before { content: "\ea36"; }
.proxyicons-arrow-right-double-fill:before { content: "\ea37"; }
.proxyicons-arrow-right-double-line:before { content: "\ea38"; }
.proxyicons-arrow-right-down-fill:before { content: "\ea39"; }
.proxyicons-arrow-right-down-line:before { content: "\ea3a"; }
.proxyicons-arrow-right-down-sm-fill:before { content: "\ea3b"; }
.proxyicons-arrow-right-down-sm-line:before { content: "\ea3c"; }
.proxyicons-arrow-right-fill:before { content: "\ea3d"; }
.proxyicons-arrow-right-line:before { content: "\ea3e"; }
.proxyicons-arrow-right-sm-fill:before { content: "\ea3f"; }
.proxyicons-arrow-right-sm-line:before { content: "\ea40"; }
.proxyicons-arrow-right-up-fill:before { content: "\ea41"; }
.proxyicons-arrow-right-up-line:before { content: "\ea42"; }
.proxyicons-arrow-right-up-sm-fill:before { content: "\ea43"; }
.proxyicons-arrow-right-up-sm-line:before { content: "\ea44"; }
.proxyicons-arrow-turn-back-fill:before { content: "\ea45"; }
.proxyicons-arrow-turn-back-line:before { content: "\ea46"; }
.proxyicons-arrow-turn-forward-fill:before { content: "\ea47"; }
.proxyicons-arrow-turn-forward-line:before { content: "\ea48"; }
.proxyicons-arrow-up-circle-fill:before { content: "\ea49"; }
.proxyicons-arrow-up-circle-line:before { content: "\ea4a"; }
.proxyicons-arrow-up-double-fill:before { content: "\ea4b"; }
.proxyicons-arrow-up-double-line:before { content: "\ea4c"; }
.proxyicons-arrow-up-down-fill:before { content: "\ea4d"; }
.proxyicons-arrow-up-down-line:before { content: "\ea4e"; }
.proxyicons-arrow-up-fill:before { content: "\ea4f"; }
.proxyicons-arrow-up-line:before { content: "\ea50"; }
.proxyicons-arrow-up-sm-fill:before { content: "\ea51"; }
.proxyicons-arrow-up-sm-line:before { content: "\ea52"; }
.proxyicons-at-fill:before { content: "\ea53"; }
.proxyicons-at-line:before { content: "\ea54"; }
.proxyicons-attachment-2-fill:before { content: "\ea55"; }
.proxyicons-attachment-2-line:before { content: "\ea56"; }
.proxyicons-attachment-box-fill:before { content: "\ea57"; }
.proxyicons-attachment-box-line:before { content: "\ea58"; }
.proxyicons-attachment-fill:before { content: "\ea59"; }
.proxyicons-attachment-line:before { content: "\ea5a"; }
.proxyicons-body-scan-fill:before { content: "\ea5b"; }
.proxyicons-body-scan-line:before { content: "\ea5c"; }
.proxyicons-bookmark-2-fill:before { content: "\ea5d"; }
.proxyicons-bookmark-2-line:before { content: "\ea5e"; }
.proxyicons-bookmark-3-fill:before { content: "\ea5f"; }
.proxyicons-bookmark-3-line:before { content: "\ea60"; }
.proxyicons-bookmark-fill:before { content: "\ea61"; }
.proxyicons-bookmark-line:before { content: "\ea62"; }
.proxyicons-check-circle-fill:before { content: "\ea63"; }
.proxyicons-check-circle-line:before { content: "\ea64"; }
.proxyicons-check-double-fill:before { content: "\ea65"; }
.proxyicons-check-double-line:before { content: "\ea66"; }
.proxyicons-check-fill:before { content: "\ea67"; }
.proxyicons-check-line:before { content: "\ea68"; }
.proxyicons-checkbox-blank-fill:before { content: "\ea69"; }
.proxyicons-checkbox-blank-line:before { content: "\ea6a"; }
.proxyicons-checkbox-fill:before { content: "\ea6b"; }
.proxyicons-checkbox-indeterminate-fill:before { content: "\ea6c"; }
.proxyicons-checkbox-indeterminate-line:before { content: "\ea6d"; }
.proxyicons-checkbox-line:before { content: "\ea6e"; }
.proxyicons-checkbox-multiple-blank-fill:before { content: "\ea6f"; }
.proxyicons-checkbox-multiple-blank-line:before { content: "\ea70"; }
.proxyicons-checkbox-multiple-fill:before { content: "\ea71"; }
.proxyicons-checkbox-multiple-line:before { content: "\ea72"; }
.proxyicons-chevron-down-fill:before { content: "\ea73"; }
.proxyicons-chevron-down-line:before { content: "\ea74"; }
.proxyicons-chevron-down-sm-fill:before { content: "\ea75"; }
.proxyicons-chevron-down-sm-line:before { content: "\ea76"; }
.proxyicons-chevron-left-fill:before { content: "\ea77"; }
.proxyicons-chevron-left-line:before { content: "\ea78"; }
.proxyicons-chevron-left-sm-fill:before { content: "\ea79"; }
.proxyicons-chevron-left-sm-line:before { content: "\ea7a"; }
.proxyicons-chevron-right-fill:before { content: "\ea7b"; }
.proxyicons-chevron-right-line:before { content: "\ea7c"; }
.proxyicons-chevron-right-sm-fill:before { content: "\ea7d"; }
.proxyicons-chevron-right-sm-line:before { content: "\ea7e"; }
.proxyicons-chevron-up-fill:before { content: "\ea7f"; }
.proxyicons-chevron-up-line:before { content: "\ea80"; }
.proxyicons-chevron-up-sm-fill:before { content: "\ea81"; }
.proxyicons-chevron-up-sm-line:before { content: "\ea82"; }
.proxyicons-close-circle-fill:before { content: "\ea83"; }
.proxyicons-close-circle-line:before { content: "\ea84"; }
.proxyicons-close-fill:before { content: "\ea85"; }
.proxyicons-close-line:before { content: "\ea86"; }
.proxyicons-contacts-fill:before { content: "\ea87"; }
.proxyicons-contacts-line:before { content: "\ea88"; }
.proxyicons-contract-left-fill:before { content: "\ea89"; }
.proxyicons-contract-left-line:before { content: "\ea8a"; }
.proxyicons-contract-left-right-fill:before { content: "\ea8b"; }
.proxyicons-contract-left-right-line:before { content: "\ea8c"; }
.proxyicons-contract-right-fill:before { content: "\ea8d"; }
.proxyicons-contract-right-line:before { content: "\ea8e"; }
.proxyicons-contract-up-down-fill:before { content: "\ea8f"; }
.proxyicons-contract-up-down-line:before { content: "\ea90"; }
.proxyicons-corner-down-left-fill:before { content: "\ea91"; }
.proxyicons-corner-down-left-line:before { content: "\ea92"; }
.proxyicons-corner-down-right-fill:before { content: "\ea93"; }
.proxyicons-corner-down-right-line:before { content: "\ea94"; }
.proxyicons-corner-left-down-fill:before { content: "\ea95"; }
.proxyicons-corner-left-down-line:before { content: "\ea96"; }
.proxyicons-corner-left-up-fill:before { content: "\ea97"; }
.proxyicons-corner-left-up-line:before { content: "\ea98"; }
.proxyicons-corner-right-down-fill:before { content: "\ea99"; }
.proxyicons-corner-right-down-line:before { content: "\ea9a"; }
.proxyicons-corner-right-up-fill:before { content: "\ea9b"; }
.proxyicons-corner-right-up-line:before { content: "\ea9c"; }
.proxyicons-corner-up-left-double-fill:before { content: "\ea9d"; }
.proxyicons-corner-up-left-double-line:before { content: "\ea9e"; }
.proxyicons-corner-up-left-fill:before { content: "\ea9f"; }
.proxyicons-corner-up-left-line:before { content: "\eaa0"; }
.proxyicons-corner-up-right-double-fill:before { content: "\eaa1"; }
.proxyicons-corner-up-right-double-line:before { content: "\eaa2"; }
.proxyicons-corner-up-right-fill:before { content: "\eaa3"; }
.proxyicons-corner-up-right-line:before { content: "\eaa4"; }
.proxyicons-criminal-fill:before { content: "\eaa5"; }
.proxyicons-criminal-line:before { content: "\eaa6"; }
.proxyicons-dashboard-fill:before { content: "\eaa7"; }
.proxyicons-dashboard-line:before { content: "\eaa8"; }
.proxyicons-delete-back-2-fill:before { content: "\eaa9"; }
.proxyicons-delete-back-2-line:before { content: "\eaaa"; }
.proxyicons-delete-back-fill:before { content: "\eaab"; }
.proxyicons-delete-back-line:before { content: "\eaac"; }
.proxyicons-delete-bin-2-fill:before { content: "\eaad"; }
.proxyicons-delete-bin-2-line:before { content: "\eaae"; }
.proxyicons-delete-bin-3-fill:before { content: "\eaaf"; }
.proxyicons-delete-bin-3-line:before { content: "\eab0"; }
.proxyicons-delete-bin-4-fill:before { content: "\eab1"; }
.proxyicons-delete-bin-4-line:before { content: "\eab2"; }
.proxyicons-delete-bin-5-fill:before { content: "\eab3"; }
.proxyicons-delete-bin-5-line:before { content: "\eab4"; }
.proxyicons-delete-bin-fill:before { content: "\eab5"; }
.proxyicons-delete-bin-line:before { content: "\eab6"; }
.proxyicons-divide-fill:before { content: "\eab7"; }
.proxyicons-divide-line:before { content: "\eab8"; }
.proxyicons-double-toggle-fill:before { content: "\eab9"; }
.proxyicons-double-toggle-line:before { content: "\eaba"; }
.proxyicons-download-2-fill:before { content: "\eabb"; }
.proxyicons-download-2-line:before { content: "\eabc"; }
.proxyicons-download-cloud-2-fill:before { content: "\eabd"; }
.proxyicons-download-cloud-2-line:before { content: "\eabe"; }
.proxyicons-download-cloud-fill:before { content: "\eabf"; }
.proxyicons-download-cloud-line:before { content: "\eac0"; }
.proxyicons-download-fill:before { content: "\eac1"; }
.proxyicons-download-line:before { content: "\eac2"; }
.proxyicons-drag-move-2-fill:before { content: "\eac3"; }
.proxyicons-drag-move-2-line:before { content: "\eac4"; }
.proxyicons-drag-move-fill:before { content: "\eac5"; }
.proxyicons-drag-move-line:before { content: "\eac6"; }
.proxyicons-emotion-fill:before { content: "\eac7"; }
.proxyicons-emotion-happy-fill:before { content: "\eac8"; }
.proxyicons-emotion-happy-line:before { content: "\eac9"; }
.proxyicons-emotion-laugh-fill:before { content: "\eaca"; }
.proxyicons-emotion-laugh-line:before { content: "\eacb"; }
.proxyicons-emotion-line:before { content: "\eacc"; }
.proxyicons-emotion-normal-fill:before { content: "\eacd"; }
.proxyicons-emotion-normal-line:before { content: "\eace"; }
.proxyicons-emotion-sad-fill:before { content: "\eacf"; }
.proxyicons-emotion-sad-line:before { content: "\ead0"; }
.proxyicons-emotion-unhappy-fill:before { content: "\ead1"; }
.proxyicons-emotion-unhappy-line:before { content: "\ead2"; }
.proxyicons-equal-fill:before { content: "\ead3"; }
.proxyicons-equal-line:before { content: "\ead4"; }
.proxyicons-error-warning-fill:before { content: "\ead5"; }
.proxyicons-error-warning-line:before { content: "\ead6"; }
.proxyicons-expand-height-fill:before { content: "\ead7"; }
.proxyicons-expand-height-line:before { content: "\ead8"; }
.proxyicons-expand-left-fill:before { content: "\ead9"; }
.proxyicons-expand-left-line:before { content: "\eada"; }
.proxyicons-expand-left-right-fill:before { content: "\eadb"; }
.proxyicons-expand-left-right-line:before { content: "\eadc"; }
.proxyicons-expand-right-fill:before { content: "\eadd"; }
.proxyicons-expand-right-line:before { content: "\eade"; }
.proxyicons-expand-up-down-fill:before { content: "\eadf"; }
.proxyicons-expand-up-down-line:before { content: "\eae0"; }
.proxyicons-expand-width-fill:before { content: "\eae1"; }
.proxyicons-expand-width-line:before { content: "\eae2"; }
.proxyicons-export-fill:before { content: "\eae3"; }
.proxyicons-export-line:before { content: "\eae4"; }
.proxyicons-external-link-fill:before { content: "\eae5"; }
.proxyicons-external-link-line:before { content: "\eae6"; }
.proxyicons-eye-2-fill:before { content: "\eae7"; }
.proxyicons-eye-2-line:before { content: "\eae8"; }
.proxyicons-eye-close-fill:before { content: "\eae9"; }
.proxyicons-eye-close-line:before { content: "\eaea"; }
.proxyicons-eye-line-fill:before { content: "\eaeb"; }
.proxyicons-eye-line:before { content: "\eaec"; }
.proxyicons-eye-off-fill:before { content: "\eaed"; }
.proxyicons-eye-off-line:before { content: "\eaee"; }
.proxyicons-filter-2-fill:before { content: "\eaef"; }
.proxyicons-filter-2-line:before { content: "\eaf0"; }
.proxyicons-filter-fill:before { content: "\eaf1"; }
.proxyicons-filter-line:before { content: "\eaf2"; }
.proxyicons-filter-off-fill:before { content: "\eaf3"; }
.proxyicons-filter-off-line:before { content: "\eaf4"; }
.proxyicons-find-replace-fill:before { content: "\eaf5"; }
.proxyicons-find-replace-line:before { content: "\eaf6"; }
.proxyicons-flag-2-fill:before { content: "\eaf7"; }
.proxyicons-flag-2-line:before { content: "\eaf8"; }
.proxyicons-flag-fill:before { content: "\eaf9"; }
.proxyicons-flag-line:before { content: "\eafa"; }
.proxyicons-forbid-fill:before { content: "\eafb"; }
.proxyicons-forbid-line:before { content: "\eafc"; }
.proxyicons-function-fill:before { content: "\eafd"; }
.proxyicons-function-line:before { content: "\eafe"; }
.proxyicons-genderless-fill:before { content: "\eaff"; }
.proxyicons-genderless-line:before { content: "\eb00"; }
.proxyicons-ghost-fill:before { content: "\eb01"; }
.proxyicons-ghost-line:before { content: "\eb02"; }
.proxyicons-group-2-fill:before { content: "\eb03"; }
.proxyicons-group-2-line:before { content: "\eb04"; }
.proxyicons-group-fill:before { content: "\eb05"; }
.proxyicons-group-line:before { content: "\eb06"; }
.proxyicons-hourglass-2-fill:before { content: "\eb07"; }
.proxyicons-hourglass-2-line:before { content: "\eb08"; }
.proxyicons-hourglass-fill:before { content: "\eb09"; }
.proxyicons-hourglass-line:before { content: "\eb0a"; }
.proxyicons-import-fill:before { content: "\eb0b"; }
.proxyicons-import-line:before { content: "\eb0c"; }
.proxyicons-information-2-fill:before { content: "\eb0d"; }
.proxyicons-information-2-line:before { content: "\eb0e"; }
.proxyicons-information-fill:before { content: "\eb0f"; }
.proxyicons-information-line:before { content: "\eb10"; }
.proxyicons-link-fill:before { content: "\eb11"; }
.proxyicons-link-line:before { content: "\eb12"; }
.proxyicons-link-unlink-fill:before { content: "\eb13"; }
.proxyicons-link-unlink-line:before { content: "\eb14"; }
.proxyicons-links-fill:before { content: "\eb15"; }
.proxyicons-links-line:before { content: "\eb16"; }
.proxyicons-list-settings-fill:before { content: "\eb17"; }
.proxyicons-list-settings-line:before { content: "\eb18"; }
.proxyicons-lock-2-fill:before { content: "\eb19"; }
.proxyicons-lock-2-line:before { content: "\eb1a"; }
.proxyicons-lock-3-fill:before { content: "\eb1b"; }
.proxyicons-lock-3-line:before { content: "\eb1c"; }
.proxyicons-lock-fill:before { content: "\eb1d"; }
.proxyicons-lock-line:before { content: "\eb1e"; }
.proxyicons-lock-password-fill:before { content: "\eb1f"; }
.proxyicons-lock-password-line:before { content: "\eb20"; }
.proxyicons-lock-star-fill:before { content: "\eb21"; }
.proxyicons-lock-star-line:before { content: "\eb22"; }
.proxyicons-login-box-fill:before { content: "\eb23"; }
.proxyicons-login-box-line:before { content: "\eb24"; }
.proxyicons-login-circle-fill:before { content: "\eb25"; }
.proxyicons-login-circle-line:before { content: "\eb26"; }
.proxyicons-logout-box-fill:before { content: "\eb27"; }
.proxyicons-logout-box-line:before { content: "\eb28"; }
.proxyicons-logout-box-r-fill:before { content: "\eb29"; }
.proxyicons-logout-box-r-line:before { content: "\eb2a"; }
.proxyicons-logout-circle-fill:before { content: "\eb2b"; }
.proxyicons-logout-circle-line:before { content: "\eb2c"; }
.proxyicons-logout-circle-r-fill:before { content: "\eb2d"; }
.proxyicons-logout-circle-r-line:before { content: "\eb2e"; }
.proxyicons-loop-left-fill:before { content: "\eb2f"; }
.proxyicons-loop-left-line:before { content: "\eb30"; }
.proxyicons-loop-right-fill:before { content: "\eb31"; }
.proxyicons-loop-right-line:before { content: "\eb32"; }
.proxyicons-men-fill:before { content: "\eb33"; }
.proxyicons-men-line:before { content: "\eb34"; }
.proxyicons-menu-2-fill:before { content: "\eb35"; }
.proxyicons-menu-2-line:before { content: "\eb36"; }
.proxyicons-menu-3-fill:before { content: "\eb37"; }
.proxyicons-menu-3-line:before { content: "\eb38"; }
.proxyicons-menu-4-fill:before { content: "\eb39"; }
.proxyicons-menu-4-line:before { content: "\eb3a"; }
.proxyicons-menu-5-fill:before { content: "\eb3b"; }
.proxyicons-menu-5-line:before { content: "\eb3c"; }
.proxyicons-menu-add-fill:before { content: "\eb3d"; }
.proxyicons-menu-add-line:before { content: "\eb3e"; }
.proxyicons-menu-fill:before { content: "\eb3f"; }
.proxyicons-menu-fold-fill:before { content: "\eb40"; }
.proxyicons-menu-fold-line:before { content: "\eb41"; }
.proxyicons-menu-line:before { content: "\eb42"; }
.proxyicons-menu-s-2-fill:before { content: "\eb43"; }
.proxyicons-menu-s-2-line:before { content: "\eb44"; }
.proxyicons-menu-s-3-fill:before { content: "\eb45"; }
.proxyicons-menu-s-3-line:before { content: "\eb46"; }
.proxyicons-menu-s-4-fill:before { content: "\eb47"; }
.proxyicons-menu-s-4-line:before { content: "\eb48"; }
.proxyicons-menu-s-5-fill:before { content: "\eb49"; }
.proxyicons-menu-s-5-line:before { content: "\eb4a"; }
.proxyicons-menu-s-fill:before { content: "\eb4b"; }
.proxyicons-menu-s-line:before { content: "\eb4c"; }
.proxyicons-menu-search-fill:before { content: "\eb4d"; }
.proxyicons-menu-search-line:before { content: "\eb4e"; }
.proxyicons-menu-unfold-fill:before { content: "\eb4f"; }
.proxyicons-menu-unfold-line:before { content: "\eb50"; }
.proxyicons-mickey-fill:before { content: "\eb51"; }
.proxyicons-mickey-line:before { content: "\eb52"; }
.proxyicons-more-2-fill:before { content: "\eb53"; }
.proxyicons-more-2-line:before { content: "\eb54"; }
.proxyicons-more-fill:before { content: "\eb55"; }
.proxyicons-more-line:before { content: "\eb56"; }
.proxyicons-notification-badge-fill:before { content: "\eb57"; }
.proxyicons-notification-badge-line:before { content: "\eb58"; }
.proxyicons-open-arm-fill:before { content: "\eb59"; }
.proxyicons-open-arm-line:before { content: "\eb5a"; }
.proxyicons-parent-fill:before { content: "\eb5b"; }
.proxyicons-parent-line:before { content: "\eb5c"; }
.proxyicons-question-fill:before { content: "\eb5d"; }
.proxyicons-question-line:before { content: "\eb5e"; }
.proxyicons-radio-off-fill:before { content: "\eb5f"; }
.proxyicons-radio-off-line:before { content: "\eb60"; }
.proxyicons-radio-on-fill:before { content: "\eb61"; }
.proxyicons-radio-on-line:before { content: "\eb62"; }
.proxyicons-refresh-fill:before { content: "\eb63"; }
.proxyicons-refresh-line:before { content: "\eb64"; }
.proxyicons-robot-2-fill:before { content: "\eb65"; }
.proxyicons-robot-2-line:before { content: "\eb66"; }
.proxyicons-robot-3-fill:before { content: "\eb67"; }
.proxyicons-robot-3-line:before { content: "\eb68"; }
.proxyicons-robot-fill:before { content: "\eb69"; }
.proxyicons-robot-line:before { content: "\eb6a"; }
.proxyicons-scroll-to-bottom-fill:before { content: "\eb6b"; }
.proxyicons-scroll-to-bottom-line:before { content: "\eb6c"; }
.proxyicons-search-2-fill:before { content: "\eb6d"; }
.proxyicons-search-2-line:before { content: "\eb6e"; }
.proxyicons-search-eye-fill:before { content: "\eb6f"; }
.proxyicons-search-eye-line:before { content: "\eb70"; }
.proxyicons-search-fill:before { content: "\eb71"; }
.proxyicons-search-line:before { content: "\eb72"; }
.proxyicons-settings-2-fill:before { content: "\eb73"; }
.proxyicons-settings-2-line:before { content: "\eb74"; }
.proxyicons-settings-3-fill:before { content: "\eb75"; }
.proxyicons-settings-3-line:before { content: "\eb76"; }
.proxyicons-settings-4-fill:before { content: "\eb77"; }
.proxyicons-settings-4-line:before { content: "\eb78"; }
.proxyicons-settings-fill:before { content: "\eb79"; }
.proxyicons-settings-line:before { content: "\eb7a"; }
.proxyicons-share-2-fill:before { content: "\eb7b"; }
.proxyicons-share-2-line:before { content: "\eb7c"; }
.proxyicons-share-box-fill:before { content: "\eb7d"; }
.proxyicons-share-box-line:before { content: "\eb7e"; }
.proxyicons-share-circle-fill:before { content: "\eb7f"; }
.proxyicons-share-circle-line:before { content: "\eb80"; }
.proxyicons-share-fill:before { content: "\eb81"; }
.proxyicons-share-forward-2-fill:before { content: "\eb82"; }
.proxyicons-share-forward-2-line:before { content: "\eb83"; }
.proxyicons-share-forward-fill:before { content: "\eb84"; }
.proxyicons-share-forward-line:before { content: "\eb85"; }
.proxyicons-share-line:before { content: "\eb86"; }
.proxyicons-shield-check-fill:before { content: "\eb87"; }
.proxyicons-shield-check-line:before { content: "\eb88"; }
.proxyicons-shield-cross-fill:before { content: "\eb89"; }
.proxyicons-shield-cross-line:before { content: "\eb8a"; }
.proxyicons-shield-fill:before { content: "\eb8b"; }
.proxyicons-shield-flash-fill:before { content: "\eb8c"; }
.proxyicons-shield-flash-line:before { content: "\eb8d"; }
.proxyicons-shield-keyhole-fill:before { content: "\eb8e"; }
.proxyicons-shield-keyhole-line:before { content: "\eb8f"; }
.proxyicons-shield-line:before { content: "\eb90"; }
.proxyicons-shield-star-fill:before { content: "\eb91"; }
.proxyicons-shield-star-line:before { content: "\eb92"; }
.proxyicons-shield-user-fill:before { content: "\eb93"; }
.proxyicons-shield-user-line:before { content: "\eb94"; }
.proxyicons-side-bar-fill:before { content: "\eb95"; }
.proxyicons-side-bar-line:before { content: "\eb96"; }
.proxyicons-sidebar-fold-fill:before { content: "\eb97"; }
.proxyicons-sidebar-fold-line:before { content: "\eb98"; }
.proxyicons-sidebar-unfold-fill:before { content: "\eb99"; }
.proxyicons-sidebar-unfold-line:before { content: "\eb9a"; }
.proxyicons-skip-down-fill:before { content: "\eb9b"; }
.proxyicons-skip-down-line:before { content: "\eb9c"; }
.proxyicons-skip-left-fill:before { content: "\eb9d"; }
.proxyicons-skip-left-line:before { content: "\eb9e"; }
.proxyicons-skip-right-fill:before { content: "\eb9f"; }
.proxyicons-skip-right-line:before { content: "\eba0"; }
.proxyicons-skip-up-fill:before { content: "\eba1"; }
.proxyicons-skip-up-line:before { content: "\eba2"; }
.proxyicons-skull-fill:before { content: "\eba3"; }
.proxyicons-skull-line:before { content: "\eba4"; }
.proxyicons-spam-2-fill:before { content: "\eba5"; }
.proxyicons-spam-2-line:before { content: "\eba6"; }
.proxyicons-spam-3-fill:before { content: "\eba7"; }
.proxyicons-spam-3-line:before { content: "\eba8"; }
.proxyicons-spam-fill:before { content: "\eba9"; }
.proxyicons-spam-line:before { content: "\ebaa"; }
.proxyicons-spy-fill:before { content: "\ebab"; }
.proxyicons-spy-line:before { content: "\ebac"; }
.proxyicons-stack-fill:before { content: "\ebad"; }
.proxyicons-stack-line:before { content: "\ebae"; }
.proxyicons-star-fill:before { content: "\ebaf"; }
.proxyicons-star-half-fill:before { content: "\ebb0"; }
.proxyicons-star-half-line:before { content: "\ebb1"; }
.proxyicons-star-line:before { content: "\ebb2"; }
.proxyicons-star-s-fill:before { content: "\ebb3"; }
.proxyicons-star-s-half-fill:before { content: "\ebb4"; }
.proxyicons-star-s-half-line:before { content: "\ebb5"; }
.proxyicons-star-s-line:before { content: "\ebb6"; }
.proxyicons-subtract-circle-fill:before { content: "\ebb7"; }
.proxyicons-subtract-circle-line:before { content: "\ebb8"; }
.proxyicons-subtract-fill:before { content: "\ebb9"; }
.proxyicons-subtract-line:before { content: "\ebba"; }
.proxyicons-team-fill:before { content: "\ebbb"; }
.proxyicons-team-line:before { content: "\ebbc"; }
.proxyicons-thumb-down-fill:before { content: "\ebbd"; }
.proxyicons-thumb-down-line:before { content: "\ebbe"; }
.proxyicons-thumb-up-fill:before { content: "\ebbf"; }
.proxyicons-thumb-up-line:before { content: "\ebc0"; }
.proxyicons-toggle-fill:before { content: "\ebc1"; }
.proxyicons-toggle-line:before { content: "\ebc2"; }
.proxyicons-travesti-fill:before { content: "\ebc3"; }
.proxyicons-travesti-line:before { content: "\ebc4"; }
.proxyicons-unlock-2-fill:before { content: "\ebc5"; }
.proxyicons-unlock-2-line:before { content: "\ebc6"; }
.proxyicons-unlock-3-fill:before { content: "\ebc7"; }
.proxyicons-unlock-3-line:before { content: "\ebc8"; }
.proxyicons-unlock-fill:before { content: "\ebc9"; }
.proxyicons-unlock-line:before { content: "\ebca"; }
.proxyicons-unlock-password-fill:before { content: "\ebcb"; }
.proxyicons-unlock-password-line:before { content: "\ebcc"; }
.proxyicons-unlock-star-fill:before { content: "\ebcd"; }
.proxyicons-unlock-star-line:before { content: "\ebce"; }
.proxyicons-upload-2-fill:before { content: "\ebcf"; }
.proxyicons-upload-2-line:before { content: "\ebd0"; }
.proxyicons-upload-cloud-2-fill:before { content: "\ebd1"; }
.proxyicons-upload-cloud-2-line:before { content: "\ebd2"; }
.proxyicons-upload-cloud-fill:before { content: "\ebd3"; }
.proxyicons-upload-cloud-line:before { content: "\ebd4"; }
.proxyicons-upload-fill:before { content: "\ebd5"; }
.proxyicons-upload-line:before { content: "\ebd6"; }
.proxyicons-user-2-fill:before { content: "\ebd7"; }
.proxyicons-user-2-line:before { content: "\ebd8"; }
.proxyicons-user-add-fill:before { content: "\ebd9"; }
.proxyicons-user-add-line:before { content: "\ebda"; }
.proxyicons-user-fill:before { content: "\ebdb"; }
.proxyicons-user-follow-fill:before { content: "\ebdc"; }
.proxyicons-user-follow-line:before { content: "\ebdd"; }
.proxyicons-user-forbid-fill:before { content: "\ebde"; }
.proxyicons-user-forbid-line:before { content: "\ebdf"; }
.proxyicons-user-heart-fill:before { content: "\ebe0"; }
.proxyicons-user-heart-line:before { content: "\ebe1"; }
.proxyicons-user-line:before { content: "\ebe2"; }
.proxyicons-user-location-fill:before { content: "\ebe3"; }
.proxyicons-user-location-line:before { content: "\ebe4"; }
.proxyicons-user-received-fill:before { content: "\ebe5"; }
.proxyicons-user-received-line:before { content: "\ebe6"; }
.proxyicons-user-search-fill:before { content: "\ebe7"; }
.proxyicons-user-search-line:before { content: "\ebe8"; }
.proxyicons-user-settings-fill:before { content: "\ebe9"; }
.proxyicons-user-settings-line:before { content: "\ebea"; }
.proxyicons-user-shared-2-fill:before { content: "\ebeb"; }
.proxyicons-user-shared-2-line:before { content: "\ebec"; }
.proxyicons-user-star-fill:before { content: "\ebed"; }
.proxyicons-user-star-line:before { content: "\ebee"; }
.proxyicons-user-unfollow-fill:before { content: "\ebef"; }
.proxyicons-user-unfollow-line:before { content: "\ebf0"; }
.proxyicons-user-voice-fill:before { content: "\ebf1"; }
.proxyicons-user-voice-line:before { content: "\ebf2"; }
.proxyicons-women-fill:before { content: "\ebf3"; }
.proxyicons-women-line:before { content: "\ebf4"; }
.proxyicons-zoom-in-fill:before { content: "\ebf5"; }
.proxyicons-zoom-in-line:before { content: "\ebf6"; }
.proxyicons-zoom-out-fill:before { content: "\ebf7"; }
.proxyicons-zoom-out-line:before { content: "\ebf8"; }

$proxyicons-account-box-fill: "\ea01";
$proxyicons-account-box-line: "\ea02";
$proxyicons-account-circle-fill: "\ea03";
$proxyicons-account-circle-line: "\ea04";
$proxyicons-account-pin-box-fill: "\ea05";
$proxyicons-account-pin-box-line: "\ea06";
$proxyicons-account-pin-circle-fill: "\ea07";
$proxyicons-account-pin-circle-line: "\ea08";
$proxyicons-add-box-fill: "\ea09";
$proxyicons-add-box-line: "\ea0a";
$proxyicons-add-circle-fill: "\ea0b";
$proxyicons-add-circle-line: "\ea0c";
$proxyicons-add-fill: "\ea0d";
$proxyicons-add-line: "\ea0e";
$proxyicons-admin-fill: "\ea0f";
$proxyicons-admin-line: "\ea10";
$proxyicons-alert-fill: "\ea11";
$proxyicons-alert-line: "\ea12";
$proxyicons-aliens-fill: "\ea13";
$proxyicons-aliens-line: "\ea14";
$proxyicons-apps-fill: "\ea15";
$proxyicons-apps-line: "\ea16";
$proxyicons-arrow-down-circle-fill: "\ea17";
$proxyicons-arrow-down-circle-line: "\ea18";
$proxyicons-arrow-down-double-fill: "\ea19";
$proxyicons-arrow-down-double-line: "\ea1a";
$proxyicons-arrow-down-fill: "\ea1b";
$proxyicons-arrow-down-line: "\ea1c";
$proxyicons-arrow-down-sm-fill: "\ea1d";
$proxyicons-arrow-down-sm-line: "\ea1e";
$proxyicons-arrow-go-back-fill: "\ea1f";
$proxyicons-arrow-go-back-line: "\ea20";
$proxyicons-arrow-go-forward-fill: "\ea21";
$proxyicons-arrow-go-forward-line: "\ea22";
$proxyicons-arrow-left-circle-fill: "\ea23";
$proxyicons-arrow-left-circle-line: "\ea24";
$proxyicons-arrow-left-double-fill: "\ea25";
$proxyicons-arrow-left-double-line: "\ea26";
$proxyicons-arrow-left-down-fill: "\ea27";
$proxyicons-arrow-left-down-line: "\ea28";
$proxyicons-arrow-left-down-sm-fill: "\ea29";
$proxyicons-arrow-left-down-sm-line: "\ea2a";
$proxyicons-arrow-left-fill: "\ea2b";
$proxyicons-arrow-left-line: "\ea2c";
$proxyicons-arrow-left-right-fill: "\ea2d";
$proxyicons-arrow-left-right-line: "\ea2e";
$proxyicons-arrow-left-sm-fill: "\ea2f";
$proxyicons-arrow-left-sm-line: "\ea30";
$proxyicons-arrow-left-up-fill: "\ea31";
$proxyicons-arrow-left-up-line: "\ea32";
$proxyicons-arrow-left-up-sm-fill: "\ea33";
$proxyicons-arrow-left-up-sm-line: "\ea34";
$proxyicons-arrow-right-circle-fill: "\ea35";
$proxyicons-arrow-right-circle-line: "\ea36";
$proxyicons-arrow-right-double-fill: "\ea37";
$proxyicons-arrow-right-double-line: "\ea38";
$proxyicons-arrow-right-down-fill: "\ea39";
$proxyicons-arrow-right-down-line: "\ea3a";
$proxyicons-arrow-right-down-sm-fill: "\ea3b";
$proxyicons-arrow-right-down-sm-line: "\ea3c";
$proxyicons-arrow-right-fill: "\ea3d";
$proxyicons-arrow-right-line: "\ea3e";
$proxyicons-arrow-right-sm-fill: "\ea3f";
$proxyicons-arrow-right-sm-line: "\ea40";
$proxyicons-arrow-right-up-fill: "\ea41";
$proxyicons-arrow-right-up-line: "\ea42";
$proxyicons-arrow-right-up-sm-fill: "\ea43";
$proxyicons-arrow-right-up-sm-line: "\ea44";
$proxyicons-arrow-turn-back-fill: "\ea45";
$proxyicons-arrow-turn-back-line: "\ea46";
$proxyicons-arrow-turn-forward-fill: "\ea47";
$proxyicons-arrow-turn-forward-line: "\ea48";
$proxyicons-arrow-up-circle-fill: "\ea49";
$proxyicons-arrow-up-circle-line: "\ea4a";
$proxyicons-arrow-up-double-fill: "\ea4b";
$proxyicons-arrow-up-double-line: "\ea4c";
$proxyicons-arrow-up-down-fill: "\ea4d";
$proxyicons-arrow-up-down-line: "\ea4e";
$proxyicons-arrow-up-fill: "\ea4f";
$proxyicons-arrow-up-line: "\ea50";
$proxyicons-arrow-up-sm-fill: "\ea51";
$proxyicons-arrow-up-sm-line: "\ea52";
$proxyicons-at-fill: "\ea53";
$proxyicons-at-line: "\ea54";
$proxyicons-attachment-2-fill: "\ea55";
$proxyicons-attachment-2-line: "\ea56";
$proxyicons-attachment-box-fill: "\ea57";
$proxyicons-attachment-box-line: "\ea58";
$proxyicons-attachment-fill: "\ea59";
$proxyicons-attachment-line: "\ea5a";
$proxyicons-body-scan-fill: "\ea5b";
$proxyicons-body-scan-line: "\ea5c";
$proxyicons-bookmark-2-fill: "\ea5d";
$proxyicons-bookmark-2-line: "\ea5e";
$proxyicons-bookmark-3-fill: "\ea5f";
$proxyicons-bookmark-3-line: "\ea60";
$proxyicons-bookmark-fill: "\ea61";
$proxyicons-bookmark-line: "\ea62";
$proxyicons-check-circle-fill: "\ea63";
$proxyicons-check-circle-line: "\ea64";
$proxyicons-check-double-fill: "\ea65";
$proxyicons-check-double-line: "\ea66";
$proxyicons-check-fill: "\ea67";
$proxyicons-check-line: "\ea68";
$proxyicons-checkbox-blank-fill: "\ea69";
$proxyicons-checkbox-blank-line: "\ea6a";
$proxyicons-checkbox-fill: "\ea6b";
$proxyicons-checkbox-indeterminate-fill: "\ea6c";
$proxyicons-checkbox-indeterminate-line: "\ea6d";
$proxyicons-checkbox-line: "\ea6e";
$proxyicons-checkbox-multiple-blank-fill: "\ea6f";
$proxyicons-checkbox-multiple-blank-line: "\ea70";
$proxyicons-checkbox-multiple-fill: "\ea71";
$proxyicons-checkbox-multiple-line: "\ea72";
$proxyicons-chevron-down-fill: "\ea73";
$proxyicons-chevron-down-line: "\ea74";
$proxyicons-chevron-down-sm-fill: "\ea75";
$proxyicons-chevron-down-sm-line: "\ea76";
$proxyicons-chevron-left-fill: "\ea77";
$proxyicons-chevron-left-line: "\ea78";
$proxyicons-chevron-left-sm-fill: "\ea79";
$proxyicons-chevron-left-sm-line: "\ea7a";
$proxyicons-chevron-right-fill: "\ea7b";
$proxyicons-chevron-right-line: "\ea7c";
$proxyicons-chevron-right-sm-fill: "\ea7d";
$proxyicons-chevron-right-sm-line: "\ea7e";
$proxyicons-chevron-up-fill: "\ea7f";
$proxyicons-chevron-up-line: "\ea80";
$proxyicons-chevron-up-sm-fill: "\ea81";
$proxyicons-chevron-up-sm-line: "\ea82";
$proxyicons-close-circle-fill: "\ea83";
$proxyicons-close-circle-line: "\ea84";
$proxyicons-close-fill: "\ea85";
$proxyicons-close-line: "\ea86";
$proxyicons-contacts-fill: "\ea87";
$proxyicons-contacts-line: "\ea88";
$proxyicons-contract-left-fill: "\ea89";
$proxyicons-contract-left-line: "\ea8a";
$proxyicons-contract-left-right-fill: "\ea8b";
$proxyicons-contract-left-right-line: "\ea8c";
$proxyicons-contract-right-fill: "\ea8d";
$proxyicons-contract-right-line: "\ea8e";
$proxyicons-contract-up-down-fill: "\ea8f";
$proxyicons-contract-up-down-line: "\ea90";
$proxyicons-corner-down-left-fill: "\ea91";
$proxyicons-corner-down-left-line: "\ea92";
$proxyicons-corner-down-right-fill: "\ea93";
$proxyicons-corner-down-right-line: "\ea94";
$proxyicons-corner-left-down-fill: "\ea95";
$proxyicons-corner-left-down-line: "\ea96";
$proxyicons-corner-left-up-fill: "\ea97";
$proxyicons-corner-left-up-line: "\ea98";
$proxyicons-corner-right-down-fill: "\ea99";
$proxyicons-corner-right-down-line: "\ea9a";
$proxyicons-corner-right-up-fill: "\ea9b";
$proxyicons-corner-right-up-line: "\ea9c";
$proxyicons-corner-up-left-double-fill: "\ea9d";
$proxyicons-corner-up-left-double-line: "\ea9e";
$proxyicons-corner-up-left-fill: "\ea9f";
$proxyicons-corner-up-left-line: "\eaa0";
$proxyicons-corner-up-right-double-fill: "\eaa1";
$proxyicons-corner-up-right-double-line: "\eaa2";
$proxyicons-corner-up-right-fill: "\eaa3";
$proxyicons-corner-up-right-line: "\eaa4";
$proxyicons-criminal-fill: "\eaa5";
$proxyicons-criminal-line: "\eaa6";
$proxyicons-dashboard-fill: "\eaa7";
$proxyicons-dashboard-line: "\eaa8";
$proxyicons-delete-back-2-fill: "\eaa9";
$proxyicons-delete-back-2-line: "\eaaa";
$proxyicons-delete-back-fill: "\eaab";
$proxyicons-delete-back-line: "\eaac";
$proxyicons-delete-bin-2-fill: "\eaad";
$proxyicons-delete-bin-2-line: "\eaae";
$proxyicons-delete-bin-3-fill: "\eaaf";
$proxyicons-delete-bin-3-line: "\eab0";
$proxyicons-delete-bin-4-fill: "\eab1";
$proxyicons-delete-bin-4-line: "\eab2";
$proxyicons-delete-bin-5-fill: "\eab3";
$proxyicons-delete-bin-5-line: "\eab4";
$proxyicons-delete-bin-fill: "\eab5";
$proxyicons-delete-bin-line: "\eab6";
$proxyicons-divide-fill: "\eab7";
$proxyicons-divide-line: "\eab8";
$proxyicons-double-toggle-fill: "\eab9";
$proxyicons-double-toggle-line: "\eaba";
$proxyicons-download-2-fill: "\eabb";
$proxyicons-download-2-line: "\eabc";
$proxyicons-download-cloud-2-fill: "\eabd";
$proxyicons-download-cloud-2-line: "\eabe";
$proxyicons-download-cloud-fill: "\eabf";
$proxyicons-download-cloud-line: "\eac0";
$proxyicons-download-fill: "\eac1";
$proxyicons-download-line: "\eac2";
$proxyicons-drag-move-2-fill: "\eac3";
$proxyicons-drag-move-2-line: "\eac4";
$proxyicons-drag-move-fill: "\eac5";
$proxyicons-drag-move-line: "\eac6";
$proxyicons-emotion-fill: "\eac7";
$proxyicons-emotion-happy-fill: "\eac8";
$proxyicons-emotion-happy-line: "\eac9";
$proxyicons-emotion-laugh-fill: "\eaca";
$proxyicons-emotion-laugh-line: "\eacb";
$proxyicons-emotion-line: "\eacc";
$proxyicons-emotion-normal-fill: "\eacd";
$proxyicons-emotion-normal-line: "\eace";
$proxyicons-emotion-sad-fill: "\eacf";
$proxyicons-emotion-sad-line: "\ead0";
$proxyicons-emotion-unhappy-fill: "\ead1";
$proxyicons-emotion-unhappy-line: "\ead2";
$proxyicons-equal-fill: "\ead3";
$proxyicons-equal-line: "\ead4";
$proxyicons-error-warning-fill: "\ead5";
$proxyicons-error-warning-line: "\ead6";
$proxyicons-expand-height-fill: "\ead7";
$proxyicons-expand-height-line: "\ead8";
$proxyicons-expand-left-fill: "\ead9";
$proxyicons-expand-left-line: "\eada";
$proxyicons-expand-left-right-fill: "\eadb";
$proxyicons-expand-left-right-line: "\eadc";
$proxyicons-expand-right-fill: "\eadd";
$proxyicons-expand-right-line: "\eade";
$proxyicons-expand-up-down-fill: "\eadf";
$proxyicons-expand-up-down-line: "\eae0";
$proxyicons-expand-width-fill: "\eae1";
$proxyicons-expand-width-line: "\eae2";
$proxyicons-export-fill: "\eae3";
$proxyicons-export-line: "\eae4";
$proxyicons-external-link-fill: "\eae5";
$proxyicons-external-link-line: "\eae6";
$proxyicons-eye-2-fill: "\eae7";
$proxyicons-eye-2-line: "\eae8";
$proxyicons-eye-close-fill: "\eae9";
$proxyicons-eye-close-line: "\eaea";
$proxyicons-eye-line-fill: "\eaeb";
$proxyicons-eye-line: "\eaec";
$proxyicons-eye-off-fill: "\eaed";
$proxyicons-eye-off-line: "\eaee";
$proxyicons-filter-2-fill: "\eaef";
$proxyicons-filter-2-line: "\eaf0";
$proxyicons-filter-fill: "\eaf1";
$proxyicons-filter-line: "\eaf2";
$proxyicons-filter-off-fill: "\eaf3";
$proxyicons-filter-off-line: "\eaf4";
$proxyicons-find-replace-fill: "\eaf5";
$proxyicons-find-replace-line: "\eaf6";
$proxyicons-flag-2-fill: "\eaf7";
$proxyicons-flag-2-line: "\eaf8";
$proxyicons-flag-fill: "\eaf9";
$proxyicons-flag-line: "\eafa";
$proxyicons-forbid-fill: "\eafb";
$proxyicons-forbid-line: "\eafc";
$proxyicons-function-fill: "\eafd";
$proxyicons-function-line: "\eafe";
$proxyicons-genderless-fill: "\eaff";
$proxyicons-genderless-line: "\eb00";
$proxyicons-ghost-fill: "\eb01";
$proxyicons-ghost-line: "\eb02";
$proxyicons-group-2-fill: "\eb03";
$proxyicons-group-2-line: "\eb04";
$proxyicons-group-fill: "\eb05";
$proxyicons-group-line: "\eb06";
$proxyicons-hourglass-2-fill: "\eb07";
$proxyicons-hourglass-2-line: "\eb08";
$proxyicons-hourglass-fill: "\eb09";
$proxyicons-hourglass-line: "\eb0a";
$proxyicons-import-fill: "\eb0b";
$proxyicons-import-line: "\eb0c";
$proxyicons-information-2-fill: "\eb0d";
$proxyicons-information-2-line: "\eb0e";
$proxyicons-information-fill: "\eb0f";
$proxyicons-information-line: "\eb10";
$proxyicons-link-fill: "\eb11";
$proxyicons-link-line: "\eb12";
$proxyicons-link-unlink-fill: "\eb13";
$proxyicons-link-unlink-line: "\eb14";
$proxyicons-links-fill: "\eb15";
$proxyicons-links-line: "\eb16";
$proxyicons-list-settings-fill: "\eb17";
$proxyicons-list-settings-line: "\eb18";
$proxyicons-lock-2-fill: "\eb19";
$proxyicons-lock-2-line: "\eb1a";
$proxyicons-lock-3-fill: "\eb1b";
$proxyicons-lock-3-line: "\eb1c";
$proxyicons-lock-fill: "\eb1d";
$proxyicons-lock-line: "\eb1e";
$proxyicons-lock-password-fill: "\eb1f";
$proxyicons-lock-password-line: "\eb20";
$proxyicons-lock-star-fill: "\eb21";
$proxyicons-lock-star-line: "\eb22";
$proxyicons-login-box-fill: "\eb23";
$proxyicons-login-box-line: "\eb24";
$proxyicons-login-circle-fill: "\eb25";
$proxyicons-login-circle-line: "\eb26";
$proxyicons-logout-box-fill: "\eb27";
$proxyicons-logout-box-line: "\eb28";
$proxyicons-logout-box-r-fill: "\eb29";
$proxyicons-logout-box-r-line: "\eb2a";
$proxyicons-logout-circle-fill: "\eb2b";
$proxyicons-logout-circle-line: "\eb2c";
$proxyicons-logout-circle-r-fill: "\eb2d";
$proxyicons-logout-circle-r-line: "\eb2e";
$proxyicons-loop-left-fill: "\eb2f";
$proxyicons-loop-left-line: "\eb30";
$proxyicons-loop-right-fill: "\eb31";
$proxyicons-loop-right-line: "\eb32";
$proxyicons-men-fill: "\eb33";
$proxyicons-men-line: "\eb34";
$proxyicons-menu-2-fill: "\eb35";
$proxyicons-menu-2-line: "\eb36";
$proxyicons-menu-3-fill: "\eb37";
$proxyicons-menu-3-line: "\eb38";
$proxyicons-menu-4-fill: "\eb39";
$proxyicons-menu-4-line: "\eb3a";
$proxyicons-menu-5-fill: "\eb3b";
$proxyicons-menu-5-line: "\eb3c";
$proxyicons-menu-add-fill: "\eb3d";
$proxyicons-menu-add-line: "\eb3e";
$proxyicons-menu-fill: "\eb3f";
$proxyicons-menu-fold-fill: "\eb40";
$proxyicons-menu-fold-line: "\eb41";
$proxyicons-menu-line: "\eb42";
$proxyicons-menu-s-2-fill: "\eb43";
$proxyicons-menu-s-2-line: "\eb44";
$proxyicons-menu-s-3-fill: "\eb45";
$proxyicons-menu-s-3-line: "\eb46";
$proxyicons-menu-s-4-fill: "\eb47";
$proxyicons-menu-s-4-line: "\eb48";
$proxyicons-menu-s-5-fill: "\eb49";
$proxyicons-menu-s-5-line: "\eb4a";
$proxyicons-menu-s-fill: "\eb4b";
$proxyicons-menu-s-line: "\eb4c";
$proxyicons-menu-search-fill: "\eb4d";
$proxyicons-menu-search-line: "\eb4e";
$proxyicons-menu-unfold-fill: "\eb4f";
$proxyicons-menu-unfold-line: "\eb50";
$proxyicons-mickey-fill: "\eb51";
$proxyicons-mickey-line: "\eb52";
$proxyicons-more-2-fill: "\eb53";
$proxyicons-more-2-line: "\eb54";
$proxyicons-more-fill: "\eb55";
$proxyicons-more-line: "\eb56";
$proxyicons-notification-badge-fill: "\eb57";
$proxyicons-notification-badge-line: "\eb58";
$proxyicons-open-arm-fill: "\eb59";
$proxyicons-open-arm-line: "\eb5a";
$proxyicons-parent-fill: "\eb5b";
$proxyicons-parent-line: "\eb5c";
$proxyicons-question-fill: "\eb5d";
$proxyicons-question-line: "\eb5e";
$proxyicons-radio-off-fill: "\eb5f";
$proxyicons-radio-off-line: "\eb60";
$proxyicons-radio-on-fill: "\eb61";
$proxyicons-radio-on-line: "\eb62";
$proxyicons-refresh-fill: "\eb63";
$proxyicons-refresh-line: "\eb64";
$proxyicons-robot-2-fill: "\eb65";
$proxyicons-robot-2-line: "\eb66";
$proxyicons-robot-3-fill: "\eb67";
$proxyicons-robot-3-line: "\eb68";
$proxyicons-robot-fill: "\eb69";
$proxyicons-robot-line: "\eb6a";
$proxyicons-scroll-to-bottom-fill: "\eb6b";
$proxyicons-scroll-to-bottom-line: "\eb6c";
$proxyicons-search-2-fill: "\eb6d";
$proxyicons-search-2-line: "\eb6e";
$proxyicons-search-eye-fill: "\eb6f";
$proxyicons-search-eye-line: "\eb70";
$proxyicons-search-fill: "\eb71";
$proxyicons-search-line: "\eb72";
$proxyicons-settings-2-fill: "\eb73";
$proxyicons-settings-2-line: "\eb74";
$proxyicons-settings-3-fill: "\eb75";
$proxyicons-settings-3-line: "\eb76";
$proxyicons-settings-4-fill: "\eb77";
$proxyicons-settings-4-line: "\eb78";
$proxyicons-settings-fill: "\eb79";
$proxyicons-settings-line: "\eb7a";
$proxyicons-share-2-fill: "\eb7b";
$proxyicons-share-2-line: "\eb7c";
$proxyicons-share-box-fill: "\eb7d";
$proxyicons-share-box-line: "\eb7e";
$proxyicons-share-circle-fill: "\eb7f";
$proxyicons-share-circle-line: "\eb80";
$proxyicons-share-fill: "\eb81";
$proxyicons-share-forward-2-fill: "\eb82";
$proxyicons-share-forward-2-line: "\eb83";
$proxyicons-share-forward-fill: "\eb84";
$proxyicons-share-forward-line: "\eb85";
$proxyicons-share-line: "\eb86";
$proxyicons-shield-check-fill: "\eb87";
$proxyicons-shield-check-line: "\eb88";
$proxyicons-shield-cross-fill: "\eb89";
$proxyicons-shield-cross-line: "\eb8a";
$proxyicons-shield-fill: "\eb8b";
$proxyicons-shield-flash-fill: "\eb8c";
$proxyicons-shield-flash-line: "\eb8d";
$proxyicons-shield-keyhole-fill: "\eb8e";
$proxyicons-shield-keyhole-line: "\eb8f";
$proxyicons-shield-line: "\eb90";
$proxyicons-shield-star-fill: "\eb91";
$proxyicons-shield-star-line: "\eb92";
$proxyicons-shield-user-fill: "\eb93";
$proxyicons-shield-user-line: "\eb94";
$proxyicons-side-bar-fill: "\eb95";
$proxyicons-side-bar-line: "\eb96";
$proxyicons-sidebar-fold-fill: "\eb97";
$proxyicons-sidebar-fold-line: "\eb98";
$proxyicons-sidebar-unfold-fill: "\eb99";
$proxyicons-sidebar-unfold-line: "\eb9a";
$proxyicons-skip-down-fill: "\eb9b";
$proxyicons-skip-down-line: "\eb9c";
$proxyicons-skip-left-fill: "\eb9d";
$proxyicons-skip-left-line: "\eb9e";
$proxyicons-skip-right-fill: "\eb9f";
$proxyicons-skip-right-line: "\eba0";
$proxyicons-skip-up-fill: "\eba1";
$proxyicons-skip-up-line: "\eba2";
$proxyicons-skull-fill: "\eba3";
$proxyicons-skull-line: "\eba4";
$proxyicons-spam-2-fill: "\eba5";
$proxyicons-spam-2-line: "\eba6";
$proxyicons-spam-3-fill: "\eba7";
$proxyicons-spam-3-line: "\eba8";
$proxyicons-spam-fill: "\eba9";
$proxyicons-spam-line: "\ebaa";
$proxyicons-spy-fill: "\ebab";
$proxyicons-spy-line: "\ebac";
$proxyicons-stack-fill: "\ebad";
$proxyicons-stack-line: "\ebae";
$proxyicons-star-fill: "\ebaf";
$proxyicons-star-half-fill: "\ebb0";
$proxyicons-star-half-line: "\ebb1";
$proxyicons-star-line: "\ebb2";
$proxyicons-star-s-fill: "\ebb3";
$proxyicons-star-s-half-fill: "\ebb4";
$proxyicons-star-s-half-line: "\ebb5";
$proxyicons-star-s-line: "\ebb6";
$proxyicons-subtract-circle-fill: "\ebb7";
$proxyicons-subtract-circle-line: "\ebb8";
$proxyicons-subtract-fill: "\ebb9";
$proxyicons-subtract-line: "\ebba";
$proxyicons-team-fill: "\ebbb";
$proxyicons-team-line: "\ebbc";
$proxyicons-thumb-down-fill: "\ebbd";
$proxyicons-thumb-down-line: "\ebbe";
$proxyicons-thumb-up-fill: "\ebbf";
$proxyicons-thumb-up-line: "\ebc0";
$proxyicons-toggle-fill: "\ebc1";
$proxyicons-toggle-line: "\ebc2";
$proxyicons-travesti-fill: "\ebc3";
$proxyicons-travesti-line: "\ebc4";
$proxyicons-unlock-2-fill: "\ebc5";
$proxyicons-unlock-2-line: "\ebc6";
$proxyicons-unlock-3-fill: "\ebc7";
$proxyicons-unlock-3-line: "\ebc8";
$proxyicons-unlock-fill: "\ebc9";
$proxyicons-unlock-line: "\ebca";
$proxyicons-unlock-password-fill: "\ebcb";
$proxyicons-unlock-password-line: "\ebcc";
$proxyicons-unlock-star-fill: "\ebcd";
$proxyicons-unlock-star-line: "\ebce";
$proxyicons-upload-2-fill: "\ebcf";
$proxyicons-upload-2-line: "\ebd0";
$proxyicons-upload-cloud-2-fill: "\ebd1";
$proxyicons-upload-cloud-2-line: "\ebd2";
$proxyicons-upload-cloud-fill: "\ebd3";
$proxyicons-upload-cloud-line: "\ebd4";
$proxyicons-upload-fill: "\ebd5";
$proxyicons-upload-line: "\ebd6";
$proxyicons-user-2-fill: "\ebd7";
$proxyicons-user-2-line: "\ebd8";
$proxyicons-user-add-fill: "\ebd9";
$proxyicons-user-add-line: "\ebda";
$proxyicons-user-fill: "\ebdb";
$proxyicons-user-follow-fill: "\ebdc";
$proxyicons-user-follow-line: "\ebdd";
$proxyicons-user-forbid-fill: "\ebde";
$proxyicons-user-forbid-line: "\ebdf";
$proxyicons-user-heart-fill: "\ebe0";
$proxyicons-user-heart-line: "\ebe1";
$proxyicons-user-line: "\ebe2";
$proxyicons-user-location-fill: "\ebe3";
$proxyicons-user-location-line: "\ebe4";
$proxyicons-user-received-fill: "\ebe5";
$proxyicons-user-received-line: "\ebe6";
$proxyicons-user-search-fill: "\ebe7";
$proxyicons-user-search-line: "\ebe8";
$proxyicons-user-settings-fill: "\ebe9";
$proxyicons-user-settings-line: "\ebea";
$proxyicons-user-shared-2-fill: "\ebeb";
$proxyicons-user-shared-2-line: "\ebec";
$proxyicons-user-star-fill: "\ebed";
$proxyicons-user-star-line: "\ebee";
$proxyicons-user-unfollow-fill: "\ebef";
$proxyicons-user-unfollow-line: "\ebf0";
$proxyicons-user-voice-fill: "\ebf1";
$proxyicons-user-voice-line: "\ebf2";
$proxyicons-women-fill: "\ebf3";
$proxyicons-women-line: "\ebf4";
$proxyicons-zoom-in-fill: "\ebf5";
$proxyicons-zoom-in-line: "\ebf6";
$proxyicons-zoom-out-fill: "\ebf7";
$proxyicons-zoom-out-line: "\ebf8";

